version: '3.8'

services:
  postgres:
    image: postgres:latest
    container_name: pedidos-db
    environment:
      POSTGRES_DB: pedidos
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    ports:
      - "5432:5432"
    networks:
      - pedidos-network

networks:
  pedidos-network:
    driver: bridge